#prog-bars {
    float: right;
}

.container > .about-me > h2{
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 60px 0px 5px;
    font-size: 33px;
    color: #444;
    font-weight: 600;
}

.container > .about-me > .col-2 { 
    width: 40%;
}
.container > .about-me > .col-2 > .info { 
    display: inline-block;
    width: 100%;
    padding: 0;
}
    .container .about-me > .col-2 > .info> h3 {
        font-weight: 600;
        margin: 0 0 15px;
        font-size: 22px;
        color: #4f4f4f;
        line-height: 1.1;
    }
    .container .about-me > .col-2 > .info> p {
        line-height: 28px;
        font-size: 16px;
        margin: 0 0 15px;
    }

.container > .about-me > .col-2 > .download-btn > a { 
    background-color: #393939;
    color: white;
    text-decoration: none;
    border: 20px none;
    border-radius: 5px;
    font-size: 14px;
    height: 60px;
    line-height: 50px;
    padding: 15px 27px;
    outline-width: initial;
    font-weight: 700;
}

.container > .about-me > .col-2 > .progress-bar-container {
    display: inline-block;
    padding: 5px 5px;
    width: 100%;
}

/* Progress bar + animation  */

.progress-bar-container + .progress-bar-container {
    margin-top: 10px;
}
.progress-bar-container > .barText {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    color: #5e5e5e;
    line-height: 24px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
    .progress-bar-container > .barText> .label {
    display: inline-block;
    float: left;
    }
    .progress-bar-container > .bar {
        display: inline-block;
        width: 100%;
        height: 7px;
        background-color: #c8c8c8;
        border-radius: 3px;
        position: relative;

    }
        .progress-bar-container > .bar::after{
            display: inline-block;
            content: "";
            background-color: #484848;
            box-shadow: 0 0 0 4px rgba(72,72,72,.5);
            border-radius: 50%;
            height: 14px;
            width: 14px;
            position: absolute;
            bottom: 10;
            margin-top: -4px;
            margin-left: -3px;
        }
        .progress-bar-container > .bar > .value {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: relative;
        }
            .progress-bar-container > .bar > .value > .value1 {
                display: inline-block;
                position: absolute;
                right: -25px;
                top: -30px;
                font-weight: 700;
                color: #5e5e5e;
                font-size: 14px;
            }
        .progress-bar-container > .bar > .value > .load {
            display: inline-block;
            background-color: #484848;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            float: left;
            vertical-align: top;
        }
        
        @media (max-width: 759px){
            .container > .about-me > .col-2 { 
                width: 100%;
            }
        }
