.container > .contact > .col-2 > .info {
  display: inline-block;
  width:90%;
  margin-top:60px;
}

.container > .contact > .col-2 > .info > h2 {
  display: inline-block;
  width:100%;
  text-align:left;
  padding-bottom:30px;
  font-size: 33px;
  color: #444;
  font-weight: 600;
}

.container > .contact > .col-2 > .info > p {
  display: inline-block;
  font-size: 17px;
  line-height: 25px;
  color: #666;
  font-weight: 300;
  margin-bottom:40px;
}

.container > .contact > .col-2 > .info > .container{
  display: inline-block;
  width:100%;
  margin-bottom: 20px;
  float:left;

}

.container > .contact > .col-2 > .info > .container > .left {
  display: inline-block;
  width:65px;
  float:left;
 }

 .container > .contact > .col-2 > .info > .container > .right {
  display: inline-block;
  width:160px;
  float:left;
 }

 .container > .contact > .col-2 > .info > .container > .right > h4 {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  color: #666;
  margin-bottom:5px;
 }

 .container > .contact > .col-2 > .info > .container > .right > span {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  color: #666;
  width:100%;
 }

 .container > .contact > .col-2 > .info > .container > .left > .fa {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 26px;
  line-height: 48px;
  vertical-align: middle;
  border:solid 1px #999;
  color: #999;
 }

    .container > .contact > .col-2 > form {
      width: 100%;
      margin-top: 120px;
    }
      .container > .contact > .col-2 > form > .form-row {
          width: 100%;
          border: none;
          margin-bottom: 30px;
          float:left;
      }

      .container > .contact > .col-2 > form > .alert-info{
          margin-top: -30px;
      }
          .container > .contact > .col-2 > form > .half {
              width: calc(50% - 15px);
          }

          .container > .contact > .col-2 > form > .half + .half {
              margin-left: 30px;
          }

          .container > .contact > .col-2 > form > .form-row > input,
          .container > .contact > .col-2 > form > .form-row > textarea
          {
              width: 100%;
              padding: 5px 0;
              font-size: 15px;
              font-weight: 300;
              line-height: 15px;
              color: #999;
              border: none;
              border-bottom: 1px solid #ddd;
              outline: none;
          }

          .container > .contact > .col-2 > form > .form-row > textarea {
              resize: vertical;
              min-height: 150px;
              max-height: 300px;
              border: 1px solid #ddd;
              padding: 20px 0 0 20px;
          }
            .container > .contact > .col-2 > form > .form-row > input:focus {
                  outline: none;
            }

          .container > .contact > .col-2 > form > .form-row > .btn {
              width:200px;  
              margin: 4px 2px;  
              padding: 10px 35px;
              background-color: #444;
              cursor: pointer;
              color: #fff;
              text-align:center;
              font-size: 15px;
              font-weight: 300;
              float:left;
          }

          .container > .contact > .col-2 > form > .form-row > .btn:hover{
            background-color: #333;
          }

          .container > .contact > .col-2 > form > .form-row > span{
            display: inline-block;
            margin-top:10px;
            color: red;
            font-size: 12px;
            font-weight: 400;
          }

          .container > .contact > .col-2 > form > .form-row > #alert-info > .message-error{
            width:100%;
            color:red;
            padding:10px;
            font-size: 15px;
            line-height: 24px;
            border:solid 1px rgb(255, 234, 0);
          }

          .container > .contact > .col-2 > form > .form-row > #alert-info > .message-ok{
            width:100%;
            color:#999;
            padding:10px;
            font-size: 15px;
            line-height: 24px;
            border:solid 2px green;
          }

          .loader {
            border: 2px solid #f3f3f3;
            border-radius: 50%;
            border-top: 2px solid #999;
            width: 30px;
            height: 30px;
            -webkit-animation: spin 1s linear infinite; /* Safari */
            animation: spin 1s linear infinite;
            float:left;
            margin:8px 0 0 10px;
          }
          
          /* Safari */
          @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
          }
          
          @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          }
          
@media (max-width: 759px){
  .container > .contact > .col-2 > form {
    margin-top: 20px;
  }
}
          


        

  