.footer {
    height: 50px!important;
}

.container > .footer > .col-2 > .right{
    display: inline-block;
    padding:10px;
    float:right;
    width:100%;
    color: #666666;
    margin-top: 20px;
}

.container > .footer > .col-2 > .left > a{
    display: inline-block;
    padding:10px;
    float:right;
    text-align:right;
    color: #666666;
    margin-top: 20px;
    font-family: 'montserratlight';
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}