.container > .header > .col-1 > .logo {
    display: inline-block;
    padding: 50px 0 0 5px;
    width:19%;
    float: left;
    height: 80px;
    position: relative;
    scroll-behavior: auto;
}
.container > .header > .col-1 > .nav {
    display: inline-block;
    padding:60px 0 0 0;
    width:80%;
    float: left;
    text-align: right;
    height: 80px;
}
    .nav > .headerNav > a {
        text-decoration: none;
        padding: 0 15px;
        font-size: 14px;
        vertical-align: bottom;
        color: #777777;
        position: relative;
        }
            .nav > .headerNav > a:hover {
                opacity: 1;
                width:100%;
            }
                
        .openbtn {
            cursor: pointer;
            padding: 2px 15px;
            border: none;
            float: right;
        }
            .hmbLine {         
                    width: 17px;
                    height: 2px;
                    background-color: #616161;
                    margin: 2px 0;                   
            }
            .sidepanel {
                margin-left: 200px;
                height: 100%; 
                width: 0; 
                position: fixed; 
                z-index: 1;
                top: 0;
                right: 0;
                background-color: #2B2B2B; 
                padding-top: 30px; 
                transition: 0.5s; 
            }       
            .sidepanel > a {
                line-height: 40px;                
                text-decoration: none;
                font-size: 15px;
                padding-left: 15px;
                font-weight: bold;
                color: #ffffff;
                display: block;
                border-bottom: solid 1px #555555;
            }
                .sidepanel > a:last-child{
                    border: none;
                }
                .sidepanel > a > p {
                    border-radius: 3px;
                    color: red;
                    background-color: yellow;
                    font-size: 12px;
                    padding: 0 5px;
                    line-height: 24px;
                    position: fixed;
                    margin: -30px -61px;
                    display: none;
                } 
                    .sidepanel > a > .add-active{
                        display: block;
                    }
                    .sidepanel > a:hover{
                        background-color: #000000;
                    }
                    .sidepanel:hover > .lightLogo{
                        background-color: #2B2B2B; 
                        opacity: 0.3;
                    }
                    .sidepanel:hover  > .closebtn{
                        background-color: #2B2B2B; 
                        opacity: 0.9;
                    }
                .sidepanel > .closebtn {
                    position: absolute;
                    top: 0;
                    font-size: 25px;
                    float: left;   
                    padding: 8px 8px;
                    border: none;
                }  
                .lightLogo {
                    border-bottom: solid 1px #555555;
                    text-align: center;
                    padding: 60px; 
                    transition: 2s; 
                    opacity: 0.9; 
                    scroll-behavior: auto;
                                      
                }
                    .sidepanel > .closebtn > .iconify {
                        color: #999999;
                    }
                        .closebtn > .iconify:hover {
                            color: #ffffff;
                        }           
               
                        @media (max-width: 1199px){
                            .container > .header > .col-1 > .nav > .headerNav {
                                display: none;
                            }
                        }
       
        
            