.container > .header > .col-1 > .logo {
    display: inline-block;
    padding:20px 0 0 0;
    width:19%;
}

.container > .header > .col-1 > .nav {
    display: inline-block;
    padding:30px 0 0 0;
    width:80%;
    text-align:right;
}
    .nav > a {
        text-decoration: none;
        padding: 0 15px;
        vertical-align: bottom;
        color: #777777;
    }
    
    