.container > .my-work > .col-2 > .info {
    display: inline-block;
    width:100%;
    height: auto;
    float: left;
}

.container > .my-work > .col-2 > .img{
    display: inline-block;
    width:75%;
    float: right;
    height:auto;
}
    .info > h5 {
        display: inline-block;
        text-align: center;
        color: #919191;
        font-size: 16px;
        letter-spacing: 2px;
       
    }
    
    .my-work > .col-2 > .info > h1 {
        display: inline-block;
        color: #414141;
        font-size: 45px;
    }

    .my-work > .col-2 > .info > p {
        display: inline-block;
        color: #6A6A6A; 
        font-size: 17px;  
        line-height: 30px;    
        

    }

    .info > .my-work-btn {
        display: inline-block;
        text-align: center;
        background-color: #393939;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        padding: 0 50px;
        line-height: 48px;
        border-radius:  5px;
        color: white;
    }

        .my-work-btn:hover{
            background-color: #000000;
        }
    

