.container > .services > .col-4 > .item{
    display: inline-block;
    padding:40px 25px;
    text-align:center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.20);      
}

.container > .services > .col-4 > .item:hover{
    box-shadow: 0 1px 20px rgba(0,0,0,0.10);      
}

.container > .services > .col-4 > .item:hover i{
    color:#fff; 
    background-color: #333;
    border:solid 1px #333;
    box-shadow: 0 1px 20px rgba(0,0,0,0.10);     
}


.container > .services > .col-4 > .item > .fa{
    display:inline-block;
    width: 37px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    line-height: 35px;
    border:solid 1px #999;
    color: #999;
}

.container > .services > .col-4 > .item > h5{

    color:#666;
    font-weight: 400;
    margin:20px 0 20px 0;
}

.container > .services > .col-4 > .item > hr{
    display: inline-block;
    width:30%;
    height: 2px;
    border:none;  
    background-color:#ddd;
}

.container > .services > .col-4 > .item > p{
    display: inline-block;
    color:#888;
    font-weight: 300;
    margin:20px 0 20px 0;
    line-height: 20px;
}

