.container > .testimonial > .reset{
    display: inline-block;
    width:76%;
    margin: 0 calc(50% - 38%);
}

.container > .testimonial > .reset > .item {
    display: inline-block;
    position: relative;
    width:100%;
    margin-top:50px;
    padding:40px;
    background-color: #f5f5f5;
    text-align:center;
}

.container > .testimonial > .reset > .item > img {
    display: inline-block;
    position: absolute;
    top: -50px;
    left:0;
    right:0;
    margin:0 auto;
}

.container > .testimonial > .reset > .item > h3 {
    margin: 20px 0 15px 0;
    font-weight:600;
    color:#555;

}

.container > .testimonial > .reset > .item > h5 {
    color:#888;
    margin-bottom:15px;
}

.container > .testimonial > .reset > .item > p {
    color:#999;
    font-size: 16px;
    line-height: 30px;
    
}
